button.StateButton {
    font-size: normal;
    font-family: Impact,  sans-serif;
    color: #daecf5;
    margin: 0 1rem;
    border: 2px solid #daecf5;
    border-radius: 6px;
    cursor: not-allowed;
}
button.StateButton span {
    padding: 0 3px;
}

button.SuccessStateButton {
    color: green;
    border: 2px solid green;
}

button.DangerStateButton {
    color: red;
    border: 2px solid red;
}

button.WarningStateButton {
    color: orange;
    border: 2px solid orange;
}